In [274]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [275]:
#df_nopass = pd.read_csv("faults_nopass_names.csv")

df_eddi_cfcss = pd.read_csv("faults_eddi_cfcss_names.csv")
df_eddi_rasm = pd.read_csv("faults_eddi_rasm_names.csv")
df_eddi_rasm_inter = pd.read_csv("faults_eddi_inter-rasm_names.csv")

df_seddi_cfcss = pd.read_csv("faults_seddi_cfcss_names.csv")
df_seddi_rasm = pd.read_csv("faults_seddi_rasm_names.csv")
df_seddi_rasm_inter = pd.read_csv("faults_seddi_inter-rasm_names.csv")

df_fdsc_cfcss = pd.read_csv("faults_fdsc_cfcss_names.csv")
df_fdsc_rasm = pd.read_csv("faults_fdsc_rasm_names.csv")
df_fdsc_rasm_inter = pd.read_csv("faults_fdsc_inter-rasm_names.csv")


dataframes = {"eddi_cfcss": df_eddi_cfcss,
              "eddi_rasm": df_eddi_rasm,
              "eddi_rasm_inter": df_eddi_rasm_inter,
              "fdsc_cfcss": df_fdsc_cfcss,
              "fdsc_rasm": df_fdsc_rasm,
              "fdsc_rasm_inter": df_fdsc_rasm_inter,
              "seddi_cfcss": df_seddi_cfcss,
              "seddi_rasm": df_seddi_rasm,
              "seddi_rasm_inter": df_seddi_rasm_inter
              }

In [276]:
for key in dataframes:
    dataframes[key] = dataframes[key].fillna("<UNDEF>")

In [277]:
for key in dataframes:
    print(dataframes[key][dataframes[key]["struct"] == "<UNDEF>"]["struct"])

0        <UNDEF>
2        <UNDEF>
4        <UNDEF>
5        <UNDEF>
14       <UNDEF>
          ...
59970    <UNDEF>
59979    <UNDEF>
59980    <UNDEF>
59987    <UNDEF>
59991    <UNDEF>
Name: struct, Length: 10479, dtype: object
3        <UNDEF>
6        <UNDEF>
8        <UNDEF>
24       <UNDEF>
35       <UNDEF>
          ...
59961    <UNDEF>
59962    <UNDEF>
59983    <UNDEF>
59987    <UNDEF>
59992    <UNDEF>
Name: struct, Length: 10618, dtype: object
0        <UNDEF>
9        <UNDEF>
17       <UNDEF>
20       <UNDEF>
23       <UNDEF>
          ...
59986    <UNDEF>
59988    <UNDEF>
59991    <UNDEF>
59993    <UNDEF>
59997    <UNDEF>
Name: struct, Length: 10436, dtype: object
13       <UNDEF>
18       <UNDEF>
20       <UNDEF>
28       <UNDEF>
32       <UNDEF>
          ...
59986    <UNDEF>
59987    <UNDEF>
59988    <UNDEF>
59990    <UNDEF>
59992    <UNDEF>
Name: struct, Length: 10665, dtype: object
2        <UNDEF>
3        <UNDEF>
15       <UNDEF>
16       <UNDEF>
17       <UNDEF>
          ...
59983    <UNDEF>
59985    <UNDEF>
59992    <UNDEF>
59998    <UNDEF>
59999    <UNDEF>
Name: struct, Length: 10378, dtype: object
3        <UNDEF>
4        <UNDEF>
16       <UNDEF>
20       <UNDEF>
31       <UNDEF>
          ...
59953    <UNDEF>
59955    <UNDEF>
59969    <UNDEF>
59981    <UNDEF>
59999    <UNDEF>
Name: struct, Length: 10422, dtype: object
0        <UNDEF>
3        <UNDEF>
6        <UNDEF>
9        <UNDEF>
12       <UNDEF>
          ...
59974    <UNDEF>
59977    <UNDEF>
59989    <UNDEF>
59991    <UNDEF>
59993    <UNDEF>
Name: struct, Length: 10546, dtype: object
5        <UNDEF>
8        <UNDEF>
11       <UNDEF>
14       <UNDEF>
20       <UNDEF>
          ...
59976    <UNDEF>
59979    <UNDEF>
59984    <UNDEF>
59988    <UNDEF>
59992    <UNDEF>
Name: struct, Length: 10583, dtype: object
2        <UNDEF>
14       <UNDEF>
15       <UNDEF>
17       <UNDEF>
21       <UNDEF>
          ...
59967    <UNDEF>
59970    <UNDEF>
59977    <UNDEF>
59994    <UNDEF>
59996    <UNDEF>
Name: struct, Length: 10581, dtype: object

In [278]:
df_new = pd.DataFrame()

for key in dataframes:
    df = dataframes[key]
    sz_tot = df.shape[0]
    df_errcodes = df.groupby('code')
    sz_df_errcodes = df_errcodes.size()
    df_new[key] = sz_df_errcodes

df_new

,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
code,,,,,,,,,
-3,319,277,268,380,372,349,307,301,297
-2,10,13,9,725,863,1065,14,9,8
-1,707,739,1078,916,897,1242,817,801,1113
0,55359,55335,54704,56853,56907,56142,55755,55569,54940
1,3272,3422,3704,782,746,899,2805,3102,3362
2,333,214,237,344,215,303,302,218,280

In [279]:
(df_new / df_new.sum() * 100)

,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
code,,,,,,,,,
-3,0.531667,0.461667,0.446667,0.633333,0.620000,0.581667,0.511667,0.501667,0.495000
-2,0.016667,0.021667,0.015000,1.208333,1.438333,1.775000,0.023333,0.015000,0.013333
-1,1.178333,1.231667,1.796667,1.526667,1.495000,2.070000,1.361667,1.335000,1.855000
0,92.265000,92.225000,91.173333,94.755000,94.845000,93.570000,92.925000,92.615000,91.566667
1,5.453333,5.703333,6.173333,1.303333,1.243333,1.498333,4.675000,5.170000,5.603333
2,0.555000,0.356667,0.395000,0.573333,0.358333,0.505000,0.503333,0.363333,0.466667

In [280]:
(df_new.drop(0) / df_new.drop(0).sum() * 100)

,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
code,,,,,,,,,
-3,6.873519,5.937835,5.060423,12.074992,12.027158,9.046138,7.232038,6.793049,5.869565
-2,0.215471,0.278671,0.169940,23.037814,27.901714,27.604977,0.329800,0.203114,0.158103
-1,15.233786,15.841372,20.354985,29.107086,29.000970,32.192846,19.246172,18.077183,21.996047
1,70.502047,73.354770,69.939577,24.849063,24.118978,23.302229,66.077739,70.006770,66.442688
2,7.175178,4.587353,4.475076,10.931045,6.951180,7.853810,7.114252,4.919883,5.533597

# Most vulnerable data structures

In [281]:
df_names = pd.DataFrame()

for key in dataframes:
    df = dataframes[key]
    df_errcodes = df.groupby('struct')
    sz_df_errcodes = df_errcodes.size()
    df = pd.DataFrame()
    df[key] = sz_df_errcodes
    df_names = df_names.join(df, how="outer")

df_names

struct
<UNDEF>                 10479
ArrayA                    721
ArrayA_dup                803
ArrayB                    749
ArrayB_dup                744
                        ...
xTimerQueue_dup             9
xTimerTaskHandle            6
xTimerTaskHandle_dup        8
xYieldPending              10
xYieldPending_dup           8
Length: 145, dtype: int64
================
struct
<UNDEF>                 10618
ArrayA                    728
ArrayA_dup                766
ArrayB                    728
ArrayB_dup                753
                        ...
xTimerQueue_dup            10
xTimerTaskHandle            4
xTimerTaskHandle_dup        6
xYieldPending               4
xYieldPending_dup           6
Length: 145, dtype: int64
================
struct
<UNDEF>                 10436
ArrayA                    752
ArrayA_dup                774
ArrayB                    771
ArrayB_dup                714
                        ...
xTimerQueue_dup             7
xTimerTaskHandle            5
xTimerTaskHandle_dup        6
xYieldPending               6
xYieldPending_dup           9
Length: 144, dtype: int64
================
struct
<UNDEF>                 10665
ArrayA                    757
ArrayA_dup                702
ArrayB                    716
ArrayB_dup                730
                        ...
xTimerQueue_dup            15
xTimerTaskHandle            8
xTimerTaskHandle_dup        7
xYieldPending               4
xYieldPending_dup          12
Length: 145, dtype: int64
================
struct
<UNDEF>                 10378
ArrayA                    780
ArrayA_dup                738
ArrayB                    801
ArrayB_dup                705
                        ...
xTimerQueue_dup             8
xTimerTaskHandle            3
xTimerTaskHandle_dup        5
xYieldPending               3
xYieldPending_dup           8
Length: 145, dtype: int64
================
struct
<UNDEF>                 10422
ArrayA                    782
ArrayA_dup                743
ArrayB                    752
ArrayB_dup                786
                        ...
xTimerQueue_dup             4
xTimerTaskHandle            8
xTimerTaskHandle_dup        9
xYieldPending               9
xYieldPending_dup           6
Length: 145, dtype: int64
================
struct
<UNDEF>                 10546
ArrayA                    741
ArrayA_dup                747
ArrayB                    713
ArrayB_dup                689
                        ...
xTimerQueue_dup             3
xTimerTaskHandle            6
xTimerTaskHandle_dup        9
xYieldPending               8
xYieldPending_dup          10
Length: 144, dtype: int64
================
struct
<UNDEF>                 10583
ArrayA                    808
ArrayA_dup                711
ArrayB                    750
ArrayB_dup                776
                        ...
xTimerQueue_dup            14
xTimerTaskHandle            9
xTimerTaskHandle_dup        4
xYieldPending               5
xYieldPending_dup          10
Length: 143, dtype: int64
================
struct
<UNDEF>                 10581
ArrayA                    721
ArrayA_dup                745
ArrayB                    719
ArrayB_dup                732
                        ...
xTimerQueue_dup             7
xTimerTaskHandle            9
xTimerTaskHandle_dup        5
xYieldPending               3
xYieldPending_dup          12
Length: 145, dtype: int64
================

,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
struct,,,,,,,,,
<UNDEF>,10479,10618,10436.0,10665,10378,10422,10546.0,10583.0,10581
ArrayA,721,728,752.0,757,780,782,741.0,808.0,721
ArrayA_dup,803,766,774.0,702,738,743,747.0,711.0,745
ArrayB,749,728,771.0,716,801,752,713.0,750.0,719
ArrayB_dup,744,753,714.0,730,705,786,689.0,776.0,732
...,...,...,...,...,...,...,...,...,...
xTimerQueue_dup,9,10,7.0,15,8,4,3.0,14.0,7
xTimerTaskHandle,6,4,5.0,8,3,8,6.0,9.0,9
xTimerTaskHandle_dup,8,6,6.0,7,5,9,9.0,4.0,5
xYieldPending,10,4,6.0,4,3,9,8.0,5.0,3
xYieldPending_dup,8,6,9.0,12,8,6,10.0,10.0,12

In [282]:
df_names = pd.DataFrame()

for key in dataframes:
    df = dataframes[key]
    df = df[df["code"] == -2]
    df_errcodes = df.groupby('struct')
    sz_df_errcodes = df_errcodes.size()
    df = pd.DataFrame()
    df[key] = sz_df_errcodes
    df_names = df_names.join(df, how="outer")

df_names

,eddi_cfcss,eddi_rasm,eddi_rasm_inter,fdsc_cfcss,fdsc_rasm,fdsc_rasm_inter,seddi_cfcss,seddi_rasm,seddi_rasm_inter
struct,,,,,,,,,
<UNDEF>,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0
ArrayA,NaN,NaN,NaN,208.0,242.0,307.0,NaN,NaN,NaN
ArrayB,NaN,NaN,NaN,294.0,386.0,438.0,NaN,NaN,NaN
ResultArray,NaN,NaN,NaN,188.0,193.0,243.0,NaN,NaN,NaN
Timer_Stack,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
main.xBufferRecvStack,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0
main.xBufferRecvTCB,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
main.xBufferSendStack,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN
main.xCRCStack,NaN,NaN,NaN,8.0,7.0,23.0,1.0,NaN,1.0
main.xMMStack,4.0,6.0,1.0,8.0,20.0,26.0,8.0,3.0,2.0
main.xQueueStack,5.0,6.0,3.0,6.0,6.0,6.0,3.0,5.0,2.0
main.xTaskStack,NaN,NaN,NaN,NaN,2.0,1.0,NaN,NaN,1.0
main.xTimerStack,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN
uxCurrentNumberOfTasks,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,NaN
uxSchedulerSuspended,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
xActiveTimerList1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
xActiveTimerList1_dup,NaN,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN
xQueueRegistry,1.0,1.0,2.0,3.0,2.0,1.0,1.0,1.0,NaN
xStaticQueue,NaN,NaN,NaN,6.0,3.0,7.0,NaN,NaN,NaN